<!DOCTYPE html>
<html>

<head>
    <title> React Demos #1 </title>
    <!-- These scripts are needed for React to work -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossoriga in src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
</head>

<body>
    <div id="root"> </div>
    <!-- 
        Modify this <script> tag in order to run the different examples.
        /static/js/1-basic-component.jsx
        /static/js/2-composing-components.jsx
        /static/js/3-jsx-expressions.jsx
        /static/js/4-props.jsx
        /static/js/5-state.jsx
        /static/js/6-lots-of-buttons.jsx
    -->
    <script type="text/jsx" src="/static/js/6-lots-of-buttons.jsx"></script>
</body>

</html>